{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<video id="firevideo" autoplay muted loop>
  <source src="{% static 'fire_video.mp4' %}" type="video/mp4">
</video>

<div class="container">
    <div class="alert alert-light" role="alert">
        <h4 class="alert-heading"><i class="fas fa-users"></i> About Us</h4>
        Firefly is a company focused on the provision of ground based sensors to act as an early warning detection system to prevent fires in the wild from happening.
        Using our system, we can relay data to authorities of what’s happening on the ground.
        The sensor itself will detect moisture of the ground, temperature of the area and the leaf wetness. From these pieces of data we will be able to build an analytical system that can measure the risk of fire happening in that area.
        All of this will be based on predictive analytics and can help to potentially save billions globally in fire prevention.
        <br>
        <hr>
        <h4 class="alert-heading"><i class="fas fa-tree"></i> Our Purpose</h4>
        The purpose of the product is to provide safety to all in a world with a changing climate by helping to detect fires before they begin by knowing the source, fuel and direction of fires.
        With a rapidly growing population, urban expansion is becoming inevitable. Moving towards the suburbs provides great unknown risks to residents.
        <br>
        <hr>
        <h4 class="alert-heading"><i class="fas fa-handshake"></i> Services for you</h4>
        This product is applicable for both commercial and residential use. The sensor that we will develop will have a unique identifier for the user and it will be paired with their own analytical system that corresponds to their area.
        For commercial or government use it can be used in National Parks to protect their beauty and offer the same risk assessment.
        This system solves so many problems that are currently present in a changing world.
        Both forest fires and irrigation on large farms can be problematic and this will address the issue.
        While also saving golf courses from toxic gases and also alert greenkeepers of the conditions of the course while connecting to their irrigation system to make a smart golf course.
    </div>

</div>
{% endblock %}