{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div id="map" style="width:100%; height: 400px; background-color: grey;"></div>
<script>
  function initMap() {
    var latlng = {lat: 33.3237, lng: -117.1630};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      mapTypeId: 'satellite',
      center: latlng
    });
    var marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
  }
</script>

<!--Adding chart-->
<div class="alert alert-dark">
    <canvas id="myChart"></canvas>
    <script>
    var firename = "Lilac (San Diego)";
    var dates = ["1/12/2017",
                 "2/12/2017",
                 "3/12/2017",
                 "4/12/2017",
                 "5/12/2017",
                 "6/12/2017",
                 "7/12/2017",
                 "8/12/2017",
                 "9/12/2017",
                 "10/12/2017",
                 "11/12/2017",
                 "12/12/2017",
                 "13/12/2017",
                 "14/12/2017",
                 "15/12/2017",
                 "16/12/2017",
                 "17/12/2017",
                 "18/12/2017",
                 "19/12/2017",
                 "20/12/2017",
                 "21/12/2017",
                 "22/12/2017",
                 "23/12/2017",
                 "24/12/2017",
                 "25/12/2017",
                 "26/12/2017",
                 "27/12/2017",
                 "28/12/2017",
                 "29/12/2017",
                 "30/12/2017",
                 "31/12/2017"];
    var fireindex = [3.679971096,
                    1.325232836,
                    0.6606182818,
                    1.807323465,
                    18.86741574,
                    45.18199676,
                    51.01260115,
                    62.23718636,
                    69.34538097,
                    98.45157158,
                    73.39598516,
                    97.85196804,
                    88.80174472,
                    30.74092018,
                    48.02767328,
                    11.82462315,
                    11.1772467,
                    42.82505791,
                    28.46803907,
                    7.181976717,
                    7.806821539,
                    63.17143609,
                    29.86475609,
                    14.35076596,
                    7.806821539,
                    2.143359513,
                    2.802057055,
                    7.769904774,
                    10.55928395,
                    7.016015242,
                    -0.07558083608];

    <!--var thomasfirename = "Thomas (Ventura)";-->
    <!--var thomasdates = ["1/12/2017",-->
                 <!--"2/12/2017",-->
                 <!--"3/12/2017",-->
                 <!--"4/12/2017",-->
                 <!--"5/12/2017",-->
                 <!--"6/12/2017",-->
                 <!--"7/12/2017",-->
                 <!--"8/12/2017",-->
                 <!--"9/12/2017",-->
                 <!--"10/12/2017",-->
                 <!--"11/12/2017",-->
                 <!--"12/12/2017",-->
                 <!--"13/12/2017",-->
                 <!--"14/12/2017",-->
                 <!--"15/12/2017",-->
                 <!--"16/12/2017",-->
                 <!--"17/12/2017",-->
                 <!--"18/12/2017",-->
                 <!--"19/12/2017",-->
                 <!--"20/12/2017",-->
                 <!--"21/12/2017",-->
                 <!--"22/12/2017",-->
                 <!--"23/12/2017",-->
                 <!--"24/12/2017",-->
                 <!--"25/12/2017",-->
                 <!--"26/12/2017",-->
                 <!--"27/12/2017",-->
                 <!--"28/12/2017",-->
                 <!--"29/12/2017",-->
                 <!--"30/12/2017",-->
                 <!--"31/12/2017",-->
                 <!--"1/01/2018",-->
                 <!--"2/01/2018",-->
                 <!--"3/01/2018",-->
                 <!--"4/01/2018",-->
                 <!--"5/01/2018",-->
                 <!--"6/01/2018",-->
                 <!--"7/01/2018",-->
                 <!--"8/01/2018",-->
                 <!--"9/01/2018",-->
                 <!--"10/01/2018",-->
                 <!--"11/01/2018",-->
                 <!--"12/01/2018",-->
                 <!--"13/01/2018",-->
                 <!--"14/01/2018",-->
                 <!--"15/01/2018",-->
                 <!--"16/01/2018",-->
                 <!--"17/01/2018",-->
                 <!--"18/01/2018",-->
                 <!--"19/01/2018",-->
                 <!--"20/01/2018",-->
                 <!--"21/01/2018",-->
                 <!--"22/01/2018",-->
                 <!--"23/01/2018",-->
                 <!--"24/01/2018",-->
                 <!--"25/01/2018",-->
                 <!--"26/01/2018",-->
                 <!--"27/01/2018",-->
                 <!--"28/01/2018",-->
                 <!--"29/01/2018",-->
                 <!--"30/01/2018",-->
                 <!--"31/01/2018"];-->

     <!--var thomasfireindex =  [5.118864825,-->
                            <!--2.451100576,-->
                            <!--1.519062757,-->
                            <!--64.09463268,-->
                            <!--149.7471982,-->
                            <!--85.1066508,-->
                            <!--152.966222,-->
                            <!--50.62062089,-->
                            <!--94.38939596,-->
                            <!--168.531547,-->
                            <!--90.48668864,-->
                            <!--66.86422244,-->
                            <!--39.08724283,-->
                            <!--41.26085225,-->
                            <!--19.54192117,-->
                            <!--3.631892318,-->
                            <!--96.65276094,-->
                            <!--33.78029349,-->
                            <!--7.654954266,-->
                            <!--5.361301106,-->
                            <!--21.46364067,-->
                            <!--29.2806467,-->
                            <!--18.19291031,-->
                            <!--9.158860918,-->
                            <!--8.996730615,-->
                            <!--4.512035378,-->
                            <!--3.631892318,-->
                            <!--11.64578334,-->
                            <!--31.32502958,-->
                            <!--2.845097474,-->
                            <!-- -0.5780387112,-->
                            <!--0.4753984175,-->
                            <!-- -0.7483410382,-->
                            <!-- -1.626202964,-->
                            <!--7.62292276,-->
                            <!-- -0.9575816089,-->
                            <!-- -1.437945138,-->
                            <!-- -1.302484478,-->
                            <!-- -0.8947664888,-->
                            <!-- -0.7483410382,-->
                            <!--0.7126825846,-->
                            <!--0.4753984175,-->
                            <!--4.886478148,-->
                            <!--92.73328052,-->
                            <!--55.35791903,-->
                            <!-- -0.8154011379,-->
                            <!--0.4974280383,-->
                            <!--0.1226965625,-->
                            <!--0.57902316,-->
                            <!--0.7997918185,-->
                            <!--24.79005556,-->
                            <!--20.40293199,-->
                            <!--22.20766211,-->
                            <!--16.81273561,-->
                            <!--16.81273561,-->
                            <!--3.514978944,-->
                            <!--15.75972148,-->
                            <!--36.36646976,-->
                            <!--118.2730189,-->
                            <!--71.73008342,-->
                            <!--46.28349916,-->
                            <!--22.08313684];-->

     var bgcolor = new Array();
     var bordcolor = new Array();

    <!--Loop through the fireindex data and add colors depending on value -->
    for (i=0; i<fireindex.length; i++){
        if (fireindex[i] < 50){
            bgcolor.push('rgba(51, 204, 51, 0.2)');
            bordcolor.push('rgba(51, 204, 51, 1)');
        }
        else if(fireindex[i] >= 50 && fireindex[i] < 75){
            bgcolor.push('rgba(255, 255, 0, 0.2)');
            bordcolor.push('rgba(255, 255, 0, 1)');
        }
        else if(fireindex[i] >= 75 && fireindex[i] < 90){
            bgcolor.push('rgba(255, 153, 51, 0.2)');
            bordcolor.push('rgba(255, 153, 51, 1)');
        }
        else if(fireindex[i] >= 90 && fireindex[i] < 97.5){
            bgcolor.push('rgba(255, 102, 102, 0.2)');
            bordcolor.push('rgba(255, 102, 102, 1)');
        }
        else{
            bgcolor.push('rgba(255, 0, 0, 0.2)');
            bordcolor.push('rgba(255, 0, 0, 1)');
        }
    }

    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Fire Index vs Dates',
                data: fireindex,
                backgroundColor: bgcolor,
                borderColor: bordcolor,
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Fire Index - Lilac (SanDiego)'
            },

            legend: {
                display: true,
                labels: {
                    fontColor: 'rgb(255, 99, 132)'
                }
            },

            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },

            responsive: true
        }
    });
    </script>
</div>

{% endblock %}